In [116]:
import pandas as pd
import numpy as np

In [117]:
dry_df = pd.read_csv('../manual/dry-data.csv')
wet_df = pd.read_csv('../manual/wet-data.csv')

In [118]:
display(wet_df)
display(dry_df)

           Brand                     Flavor  Cans/Case  g/can  kcal/kg  $/can
0    Nulo (pate)         Chicken and Turkey          1    156     1239   2.99
1  Nulo (minced)            Turkey and Duck          1     85      900   2.49
2    Royal Canin  Spayed and Neutered Adult          1     85      692   3.49

,Brand,Flavor,Bag Weight (kg),kcal/kg,$/bag
0,Royal Canin,Apetite Control,1.36,3302,38.99
1,Nulo,"Baked and Coated Chickin, Turkey & White Fish",1.81,4573,32.99
2,Go! Solutions,Sensitives,1.36,4180,27.99

In [119]:
dry_df['kcal/bag']=dry_df['Bag  Weight (kg)']*dry_df['kcal/kg']
dry_df['$/kcal']=dry_df['$/bag']/dry_df['kcal/bag']

wet_df['kcal/can']=wet_df['g/can']/1000*wet_df['kcal/kg']
wet_df['$/kcal']=wet_df['$/can']/wet_df['kcal/can']

In [135]:
cans_wet = 0.5
select_dry = 'Go! Solutions'
select_wet = 'Nulo (minced)'
cans_wet*wet_df.loc[wet_df[wet_df['Brand']==select_wet].index, 'g/can'].values[0]

np.float64(78.0)

In [139]:
cat_weight = 12.3

feeding_df = pd.DataFrame()
feeding_df.loc['low','kcal'] = cat_weight*20
feeding_df.loc['high','kcal'] = cat_weight*25
feeding_df['wet quantity (cans)'] = cans_wet
feeding_df.loc[:,'wet kcal'] = cans_wet*wet_df.loc[wet_df[wet_df['Brand']==select_wet].index, 'g/can'].values[0] + 78.0
feeding_df['dry kcal'] = feeding_df['kcal']-feeding_df['wet kcal']
feeding_df['dry quantity'] = feeding_df['dry kcal']/float(dry_df.loc[dry_df[dry_df['Brand']==select_dry].index, 'kcal/kg']/1000)
feeding_df

/var/folders/dz/13jyqy9s2pj6nzzr5q4x48nw0000gn/T/ipykernel_15664/3278217605.py:9: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  feeding_df['dry quantity'] = feeding_df['dry kcal']/float(dry_df.loc[dry_df[dry_df['Brand']==select_dry].index, 'kcal/kg']/1000)

       kcal  wet quantity (cans)  wet kcal  dry kcal  dry quantity
low   246.0                  0.5     156.0      90.0     21.531100
high  307.5                  0.5     156.0     151.5     36.244019